@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-destaque: #8e2424;
    --cor-subtitulo: #101828;
    --cor-texto: #667085;
    --cor-botao: #ffffff;
    --font-padrao: 'Inter', sans-serif;
}

body {
    font-family: var(--font-padrao);
    color: var(--cor-texto);  
}

.cabecalho__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 20px auto;
    padding: 0 32px;
}

.cabecalho__nav a {
    text-decoration: none;
}

.cabecalho__nav a:hover {
    color: red
}

.cabecalho__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 0 32px;
    color: #131313;
    font-weight: 600;
    font-size: 18px;
}


.cabecalho__menu {
    display: flex;
    gap: 40px;
}

.cabecalho__cadastro {
    display: flex;
    align-items: center;
    gap: 20px;
} 

.cabecalho__botao {
    background-color: var(--cor-destaque);
    border: 1px solid var(--cor-destaque);
    border-radius: 8px;
    padding: 12px 18px;
    color: #FFF;
}

.cabecalho__botao:hover {
    background-color: #101828;
    color: white;
}

/* SOBRE */

.sobre {
    text-align: center;
    margin: auto;
    padding: 36px 0;
    width: 100vh;
}

.sobre__titulo {
    color: var(--cor-destaque);
    font-weight: 600;
}

.sobre__subtitulo {
    color: var(--cor-subtitulo);
    font-size: 48px;
    margin-bottom: 16px;
}

.sobre__descricao {
    font-size: 20px;
    width: 600px;
    margin: auto;
}

/* METRICAS */

.metricas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin: 36px auto; 
    padding: 40px 96px;  
}

.metricas__titulo {
    color: var(--cor-destaque);
    font-size: 60px;
    font-weight: 600;
}

.metricas__subtitulo {
    color: var(--cor-subtitulo);
    font-size: 18px;
    font-weight: 800;
    line-height: 28px;
    padding: 10px 0;
}

/* BANNER VAGAS */

.banner__vagas{
    width: 100vh;
    margin: 96px auto;
    text-align: center;
}

.banner__vagas h2 {
    color: var(--cor-destaque);
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 16px;
}

.banner__vagas h3 {
    color: var(--cor-subtitulo);
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 20px;
}

.banner__vagas p {
    font-size: 20px;
    font-weight: 400;
}

.banner__vagas img {
    width: 100%;
    margin-top: 62px;
}

/* DESCRIÇÃO DAS VAGAS */

.vagas {
    width: 100vh;
    margin: 0 auto;
    padding: 0 32px;
}

.vagas__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.vagas__abertas:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.vagas__abertas {
    display: grid;
    grid-template-columns: 20% 50% ;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "vaga__titulo vaga__titulo "
    "p p";
    gap: 30px;
    border: 1px solid #EAECF0;
    border-radius: 16px;
    padding: 24px 24px 28px;
    width: 78%;
    margin: 0 auto;
    text-indent: 20px;  
}

.vaga__titulo {
    grid-area: vaga__titulo;
}

.vagas h3 {
    color: var(--cor-subtitulo);
    font-size: 20px;
    font-weight: 600;
    padding: 36px 0;
}

.vagas a {
    color: var(--cor-subtitulo);
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

.vagas__abertas a:hover {
    color: red;
}

/* DEPOIMENTOS */

.depoimentos {
    text-align: center;
    margin: auto;
    padding: 36px 0;
    width: 100vh; 
}

.depoimentos h2 {
    color: var(--cor-destaque);
    font-size: 16px;
    padding-bottom: 16px;
}

.depoimentos q {
    color: var(--cor-subtitulo);
    font-size: 36px;
    padding-bottom: 32px;
}

.depoimentos__perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.depoimentos__perfil img{
    width: 8%;
    padding: 22px;
}

.depoimentos__perfil a {
    text-decoration: none;
    color: var(--cor-subtitulo);
    font-weight: 600;
}

.depoimentos__perfil a:hover {
    color: red;
}

/* FORMULARIO */

.container__formulario {
    margin: 10px auto;
    text-align: center;
    width: 100vh;
}

.container__formulario h2 {
    color: var(--cor-subtitulo);
    font-size: 36px;
    font-weight: 700;
}

.container__formulario p {
    font-size: 20px;
    margin: 20px 0 40px 0;
}

.container__formulario input {
    width: 360px;
    padding: 12px;
    margin-bottom: 32px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
}

.container__formulario input:focus-within {
    border: 2px solid black;
}

.container__formulario button {
    background-color: var(--cor-destaque);
    border: 1px solid var(--cor-destaque);
    border-radius: 8px;
    padding: 12px 18px;
    margin-left: 5px;
    color: #FFF;
}

.container__formulario button:hover {
    background-color: black;
    cursor: pointer;
}

.container__formulario p {
    text-align: center;
}


 
@media (max-width: 480px) {
    .cabecalho__nav {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin: 2rem auto;
    }
    .cabecalho__menu {
        gap: 15px;
        align-items: center;
        white-space: nowrap;
    }
    .sobre {
        width: 300px;
        margin: 5rem auto 1rem;
    }
    .sobre__subtitulo {
        font-size: 1.5em;
        margin-top: 1rem;
    }
    .sobre__descricao {
        font-size: .9em;
        width: 300px;
    }
    .metricas {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        text-align: center;
        
    }
    .metricas__titulo {
        font-size: 2.3em;
    }
    .metricas__subtitulo {
        font-size: 0.8em;
    }
    .banner__vagas {
        width: 300px;
        margin: 2rem auto;
    }
    .banner__vagas h3 {
        font-size: 1.5em;
    }
    .banner__vagas p {
        font-size: 0.9em;
    }
    .vagas {
        width: 380px;
    }
    .vagas__abertas {
        display: flex;
        flex-direction: column;
        margin: 0 auto; 
    }
    .vaga__titulo {
        text-align: center;
    }
    .depoimentos{
        width: 250px;
        margin: auto;
    }
    .depoimentos q {
        font-size: 1.5em;
    }
    .depoimentos__perfil img {
        width: 35%;
    }
    .container__formulario {
        width: 300px;
    }
    .container__formulario h2 {
        font-size: 1.5em;
    }
    .container__formulario p {
        font-size: 1em;
    }
    .container__formulario input {
        width: 160px;
    }
    .container__formulario p {
        font-size: .6em;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .cabecalho__menu {
        gap: 20px;
        margin-left: 1.5rem;
        align-items: center;
        white-space: nowrap;
    }
    .cabecalho__cadastro {
        margin-left: 3rem;
    }
    .banner__vagas {
        margin-left: 30px;
    }
    .depoimentos q {
        display: block;
        width: 500px;
        margin: auto;
    }
    
}
  
  